# requirements.txt
streamlit
cassio
PyPDF2
langchain
langchain-huggingface
langchain_google_genai
langchain-community
sentence-transformers
cassandra-driver
# google-generativeai
datasets
langchain-core 
pydantic 
tiktoken