# --- Core Frameworks ---
fastapi
uvicorn
python-dotenv
python-multipart
pydantic
pydantic-settings

# --- LangChain & AI Libraries ---
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
langchain-text-splitters
google-generativeai
sentence-transformers

# --- Data Handling ---
PyPDF2
cassio
cassandra-driver