fastapi
uvicorn
python-dotenv
python-multipart
pydantic
pydantic-settings
PyPDF2
cassio
cassandra-driver
langchain
langchain-community
langchain-core
langchain-classic         
langchain-huggingface
langchain-google-genai
langchain-text-splitters
sentence-transformers
pyasyncore